.bodyFavoritos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.mainFavoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.mainFavoritos h1 {
    font-size: 2.4em;
    transition: all 1s ease;
    font-family: "Lilita One", sans-serif; /* Fonte escolhida */
}