.pesquisar {

    justify-content: center;
    font-size: 1em;
    width: 50vw;
    padding: 1.5vw;
    background-color: #E6E6E6;
    border: none;
    outline: none;
    border-radius: 0.7vw;
    animation: fadeIn 3s;
    font-family: Parkinsans;
}

.contIco {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1.3vw;
    background-color: #E6E6E6;
    border-radius: 0.7vw;
    align-items: center;
    animation: fadeIn 3s;
}

/* Estiliza o ícone: */
.contIco i {
    color: #f56004;
    font-size: 1.5em;
    animation: fadeIn 3s;
    cursor: pointer;
}
