.headerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(239, 62, 62, 0.948);
    padding: 1em;
}

.logoHeader{
    height: 20vh;
    transition: all 1s ease;
    border-radius: 100%;
}

.logoHeader:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(88, 88, 88, 0.5);
    border-radius: 100%;
}

.pokemonLogo{
    width: 18vw;
    height: 13vh;
    transition: all 1s ease;
    padding-right: 4em;
}

.pokemonLogo:hover{
    transform: scale(1.2);
}

.imgGithub{
    width: 6vw;
    transition: all 1s ease;
    padding-right: 1.5em;
}

.imgGithub:hover{
    transform: scale(1.1);
}